@keyframes ldio_bejdr128r5t {
    0% { transform: translate(12px,80px) scale(0); }
   25% { transform: translate(12px,80px) scale(0); }
   50% { transform: translate(12px,80px) scale(1); }
   75% { transform: translate(80px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(1); }
 }
 @keyframes ldio_bejdr128r5t-r {
    0% { transform: translate(148px,80px) scale(1); }
  100% { transform: translate(148px,80px) scale(0); }
 }
 @keyframes ldio_bejdr128r5t-c {
    0% { background: #132540 }
   25% { background: #132540 }
   50% { background: #d2812a }
   75% { background: #132540 }
  100% { background: #132540 }
 }
 .ldio_bejdr128r5t div {
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translate(80px,80px) scale(1);
   background: #132540;
   animation: ldio_bejdr128r5t 4.166666666666666s infinite cubic-bezier(0,0.5,0.5,1);
 }
 .ldio_bejdr128r5t div:nth-child(1) {
   background: #132540;
   transform: translate(148px,80px) scale(1);
   animation: ldio_bejdr128r5t-r 1.0416666666666665s infinite cubic-bezier(0,0.5,0.5,1), ldio_bejdr128r5t-c 4.166666666666666s infinite step-start;
 }.ldio_bejdr128r5t div:nth-child(2) {
   animation-delay: -1.0416666666666665s;
   background: #132540;
 }.ldio_bejdr128r5t div:nth-child(3) {
   animation-delay: -2.083333333333333s;
   background: #132540;
 }.ldio_bejdr128r5t div:nth-child(4) {
   animation-delay: -3.1249999999999996s;
   background: #d2812a;
 }.ldio_bejdr128r5t div:nth-child(5) {
   animation-delay: -4.166666666666666s;
   background: #132540;
 }
 .loadingio_spinner_ellipsis_vwn2m5ibjd {
   width: 200px;
   height: 200px;
   display: inline-block;
   overflow: hidden;
   background: none;
 }
 .ldio_bejdr128r5t {
   width: 100%;
   height: 100%;
   position: relative;
   transform: translateZ(0) scale(1);
   backface-visibility: hidden;
   transform-origin: 0 0; /* see note above */
 }
 .ldio_bejdr128r5t div { box-sizing: content-box; }