.input{
    border:2px solid #132540;
    outline: none;
    border-radius: 8px;
    border-top-right-radius: 5px;
    width: 450px;
    height: 30px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px ;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px ;
}
.container{ 
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.containerImg{ 
 width: 50px;
 height: 20px;
}
.button{ 
    background-image: url('./search.png');
    border: none;
    cursor: pointer;
    position:absolute;
    z-index: 1;
    margin-left: 400px;
    margin-top: 2px;
    width: 32px;
    height: 32px;
    padding: 0px;  
    background-color: transparent; 
}
